* {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f9f9fa;
}

.menu-container {
  padding-right: 16px;
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 3px;
  background-color: #333;
  margin: 6px 0;
}

.header {
  height: 74px;
  background-image: url(assets/image_geometry_1.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: #1a2236;
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 0;
}

.about {
  color: #1a2236;
}

.info-section {
  padding: 30px 16px 30px 16px;
  display: flex;
  flex-direction: column;
}

.collab-btn {
  margin-top: 20px;
  background: black;
  color: white;
  font-size: 16px;
  padding: 12px 30px;
  width: 100%;
  border: none;
}

.bgimage {
  background-image: url(assets/image_geometry_2.svg);
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
}

.project h1 {
  padding: 0 0 30px 16px;
}

.work_cards {
  width: 100%;
  justify-content: center;
  background-color: #1a2236;
  display: grid;
  grid-template-columns: 1fr;
}

.work_image {
  min-width: 100%;
  margin-top: -2px;
}

.workdetails {
  height: 156px;
  margin: 0;
  padding: 5px 0 16px 20px;
  color: white;
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
}

.work_title {
  font-size: 24px;
  font-weight: 300;
  padding: 0;
  margin: 0;
}

.language_used {
  padding: 0;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  font-weight: 300;
}

.language_used li {
  color: #1a2236;
  background: #98dede;
  padding: 7px 10px;
  width: auto;
  list-style: none;
  text-align: center;
  margin-right: 10px;
}

.seeproject {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 57%;
  background-color: transparent;
  color: white;
  font-size: 16px;
  padding: 9px 20px;
  border: 1px solid white;
  margin-top: 10px;
}

.cv-btn {
  margin-top: 20px;
  background: black;
  color: white;
  font-size: 16px;
  text-align: center;
  justify-content: center;
  flex-direction: row;
  display: flex;
  padding: 12px 30px;
  width: 100%;
  border: none;
}

.cv-btn span {
  margin-left: 20px;
}

.boxinfo {
  height: 200px;
  color: white;
  padding: 70px;
  margin-top: 40px;
}

.boxinfo h3 {
  font-weight: 800;
  margin-bottom: 20px;
}

.boxinfo li {
  margin-left: -22px;
  font-weight: 600;
}

#languages {
  background: #1c528a;
  background-image: url(assets/hash.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
}

#frameworks {
  background: #e2505c;
  background-image: url(assets/groupbox.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

#skills {
  background: #febf52;
  background-image: url(assets/ic_skills.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.seeproject:hover {
  color: #1a2236;
  background: white;
}

.lang {
  float: left;
  margin: 5px;
}

footer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  background-size: contain;
  width: auto;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.footer-list {
  list-style: none;
  margin-left: -40px;
}

.footer-head {
  height: 74px;
  background-image: url(assets/image_geometry_1.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.formbody {
  margin-top: 50px;
  padding: 0 16px 30px 16px;
}

label {
  color: #7d7c84;
  padding: 10px 0 0 12px;
  font-size: 10px;
}

input,
label {
  resize: none;
  width: 90vw;
  display: block;
  border: none;
}

textarea {
  padding: 15px 0 30px 16px;
  resize: none;
  height: 112px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #dfdfe0;
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
}

input,
textarea:focus {
  outline: none;
  color: #1a2236;
  font-size: 14px;
}

.inputfield {
  font-family: 'Poppins', sans-serif;
  height: 52px;
  overflow: hidden;
  width: 100%;
}

.footer-list .inputfield {
  background: white;
  margin: 8px 0;
  border: 1px solid #dfdfe0;
  border-radius: 4px;
  width: 100%;
}

.formbody .about {
  margin: 20px 0 32px 0;
}

.footsection {
  background: #1a2236;
  color: white;
  padding: 32px 0;
}

.footsection span {
  color: #92dcdc;
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.socialicons {
  margin: 33px 20px 0 0;
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin-left: -20px;
}
